/* ===common stiles start=== */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --text-color: #434455;
  --accent-color: #404bbf;
  --dark-color: #2e2f42;
  --white-color: #ffffff;
  --changed-wite-color: #e7e9fc;
  --btn-text-color: #4d5ae5;
  --Success-color: #31d0aa;
  --subtittle-color: #8e8f99;
  --light-color: #f4f4fd;
  --Modal-overlay-color: #abacb3;
  --Hero-background-color: #6d6d7b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--btn-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-svg {
  width: 16px;
  height: 16px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/* ===common stiles end=== */

/* ===header start=== */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
}

.logo-studio {
  color: var(--dark-color);
}

@media screen and (max-width: 767px) {
  .header_underline {
    display: none;
  }

  .header_nav-list {
    display: none;
  }

  .header_contact-list {
    display: none;
  }

  .page-header {
    padding: 24px 0;
  }

  .mobile-menu_btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu_btn-svg {
    fill: var(--dark-color);
  }

  .page-header .container {
    display: flex;
    justify-content: space-between;
  }

  .mobile-menu {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 80px 35px 40px 40px;

    display: flex;
    flex-direction: column;
  }

  .mobile-menu_close {
    background-color: var(--changed-wite-color);
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 24px;
    right: 24px;
  }

  .mobile-menu_nav-list {
    margin-bottom: auto;
  }

  .mobile-menu_nav-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--dark-color);
  }

  .mobile-menu_nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu_phone {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 40px;
  }

  .mobile-menu_email {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 48px;
  }

  .is-open {
    transform: translateX(0);
  }

  .social-list {
    max-width: 328px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu_btn {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 12px;
    position: relative;
  }

  .header_nav-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header_underline {
    position: absolute;
    bottom: 0;
  }

  .header-adress {
    font-style: normal;
  }

  .header_contact-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header_nav-list-item:hover.header_nav-list-item::after {
    background-color: var(--accent-color);
  }

  .header_nav-list-link:focus.header_nav-list-item::after {
    background-color: var(--accent-color);
  }

  .header_nav-list-link:hover,
  .header_nav-list-link:focus {
    color: var(--accent-color);
  }

  .header_contact-list-link:hover,
  .header_contact-list-link:focus {
    color: var(--accent-color);
  }

  .page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    display: flex;
  }

  .header_nav-list {
    display: flex;
    gap: 40px;
  }

  .header_underline {
    height: 4px;
    width: 48px;
    display: block;
  }

  .portfolio-underline {
    width: 66px;
  }

  .accent-color {
    color: var(--accent-color);
  }

  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .header_contact-list {
    display: flex;
    gap: 40px;
  }
  .page-header {
    padding-bottom: 28px;
  }
}

/* ============HERO============ */

.hero_tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 72px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  width: 169px;
  height: 56px;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  background-color: var(--btn-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mobile-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 112px 54px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
  screen and (min-resolution: 192dpi) and (min-width: 280px),
  screen and (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mobile-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 108px 136px 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet-bg.jpg);
  }

  .hero_tittle {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    letter-spacing: 0.02em;
    color: var(--white-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet-bg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
  }

  .hero .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop-bg@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* ============HERO============ */

/* ============DESCRIPTION============ */
.description {
  padding: 96px 0;
}

.description_list-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.description_list-article {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.description_svg-box {
  display: none;
}

@media screen and (max-width: 767px) {
  .description_list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description_list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  .description_list-item {
    max-width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    padding: 120px 0;
  }

  .description_list-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    padding-bottom: 8px;
  }

  .description_list-article {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .description_list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .description_list-item {
    max-width: 264px;
  }

  .description_list-svg {
    width: 64px;
    height: 64px;
  }

  .description_svg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-color);
  }
}

/* ============DESCRIPTION============ */

/* ============GALLERY============ */
.gallery {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
  }

  .gallery_list {
    display: flex;
    gap: 24px;
  }

  .gallery_tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
  }
}

/* ============GALLERY============ */

/* ============OUR_TEAM============ */

.our-team_tittle {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.our-team {
  padding-top: 96px;
  padding-bottom: 72px;
  background-color: var(--light-color);
}

.our-team_text-box {
  max-width: 232px;
  margin: 0 auto;
  padding: 32px 0;
}

.our-team_list-name {
  text-align: center;
  margin-bottom: 8px;
}

.our-team_list-occupation {
  text-align: center;
  margin-bottom: 8px;
}

.our-team_list-img {
  margin: 0 auto;
}

.our-team_list-item {
  max-width: 264px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team_list-item {
    margin: 0 auto;
  }
  .our-team_list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team_list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .our-team_list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}

/* ============OUR_TEAM============ */

/* ============CUSTOMERS============ */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers .container {
  max-width: 1200px;
}

.customers .tittle {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.customers_list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers_list-link {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--subtittle-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers_list-link:hover,
.customers_list-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.customers_list-svg {
  width: 104px;
  height: 56px;
}

@media screen and (max-width: 767px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers_list {
    flex-wrap: wrap;
    gap: 16px;
    max-width: 396px;
    margin: 0 auto;
    justify-content: center;
  }

  .customers_list-link {
    width: 190px;
  }
}

@media screen and (max-width: 1199px) {
  .customers_list {
    display: flex;
    flex-wrap: wrap;
    max-width: 552px;
    margin: 0 auto;
  }
}

/* ============CUSTOMERS============ */

/* .page-header {
  border-bottom: 1px solid var(--changed-wite-color);
  padding: 24px 15px;
  position: relative;
}



.page-header .logo {
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}



.header_nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_underline {
  position: absolute;
  bottom: 0;
}

.header-adress {
  font-style: normal;
}

.header_contact-list-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav-list-item:hover.header_nav-list-item::after {
  background-color: var(--accent-color);
}

.header_nav-list-link:focus.header_nav-list-item::after {
  background-color: var(--accent-color);
}

.header_nav-list-link:hover,
.header_nav-list-link:focus {
  color: var(--accent-color);
}

.header_contact-list-link:hover,
.header_contact-list-link:focus {
  color: var(--accent-color);
}

.page-header .container {
  display: flex;

  justify-content: space-between;
}

.navigation {
  display: flex;
}

.header_contact-list {
  display: flex;
  gap: 40px;
}

.header_nav-list {
  display: flex;
  gap: 40px;
}

.header_underline {
  height: 4px;
  width: 48px;
  display: block;
}

.portfolio-underline {
  width: 66px;
}

.accent-color {
  color: var(--accent-color);
} */
/* ===header end=== */

/* ===hero start=== */
/* .hero {
  color: var(--white-color);
  background-color: var(--Hero-background-color);
  padding: 188px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: contain x;
  background-position: center;
}
.hero_tittle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  width: 169px;
  height: 56px;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  background-color: var(--btn-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

.hero .container {
} */
/* ===hero end=== */

/* ===description start=== */
/* .description {
  padding: 120px 0;
}

.description_list-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding-bottom: 8px;
}

.description_list-article {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.description_list {
  display: flex;
  gap: 24px;
}
.description_list-item {
  max-width: 264px;
}

.description_list-svg {
  width: 64px;
  height: 64px;
}

.description_svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  background-color: var(--light-color);
} */

/* ===description end=== */

/* ===gallery start=== */
/* .gallery {
  padding-bottom: 120px;
}

.gallery_list {
  display: flex;
  gap: 24px;
}

.gallery_tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
} */
/* ===gallery end=== */

/* ===our team start=== */
/* .our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team_list {
  display: flex;
  gap: 24px;
}

.our-team_list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team_tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.our-team_list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.our-team_list-occupation {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team_text-box {
  padding: 32px 16px;
  background-color: var(--white-color);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--btn-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-svg {
  width: 16px;
  height: 16px;
} */
/* ===our team end=== */

/* ===customers start=== */
/* .customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers .tittle {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.customers_list {
  display: flex;
  gap: 24px;
}

.customers_list-item {
  min-width: 168px;
}

.customers_list-link {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 166px;
  height: 88px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--subtittle-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers_list-link:hover,
.customers_list-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.customers_list-svg {
  width: 104px;
  height: 56px;
} */
/* ===customers end=== */

/* ===footer start=== */
/* .page-footer {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-footer_text-box {
  margin-right: 120px;
}

.page-footer_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--changed-wite-color);
}

.logo-dark-theme {
  color: #f4f4fd;
}

.page-footer_text-box {
  max-width: 264px;
}

.page-footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.page-footer .container {
  display: flex;
}

.page-footer_social-list-box {
  margin-right: 80px;
}

.page-footer .social-list {
  gap: 16px;
}

.page-footer .tittle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.page-footer .social-list-link {
  background-color: var(--text-color);
}

.page-footer .social-list-svg {
  width: 24px;
  height: 24px;
}

.page-footer .social-list-link:hover,
.page-footer .social-list-link:focus {
  background-color: var(--Success-color);
}

.page-futer_form {
  max-width: 453px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  row-gap: 24px;
}

.page-footer_form-sign {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.page-footer_form-in {
  width: 264px;
  height: 40px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 24px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--changed-wite-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer_form-in:focus {
  border: 1px solid var(--white-color);
  outline: none;
}

.page-footer_form-in::placeholder {
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer_form-btn {
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--btn-text-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer_form-btn:hover,
.page-footer_form-btn:focus {
  background-color: var(--accent-color);
} */

/* ===footer end=== */

/* ============PORTFOLIO============ */

/* .portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* ===btn-list start=== */
/* .btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-list_button {
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--btn-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list_button:hover,
.btn-list_button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
*/
/* ===btn-list end=== */

/* ===card-list start=== */

/* .card-list_item {
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list_tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
  text-decoration: none;
}

.card-list_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio_card-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.card-list_item:hover,
.card-list_item:focus {
  outline: 1px solid var(--light-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_img-box {
  position: relative;
  overflow: hidden;
}

.portfolio_overlay {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  padding: 40px 32px 164px;
  color: #f4f4fd;

  background-color: var(--btn-text-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-cards-link:hover .portfolio_overlay,
.portfolio-cards-link:focus .portfolio_overlay {
  transform: translateY(0);
} */

/* ===card-list end=== */

/* ============PORTFOLIO============ */

/* ============MODAL-FORM============ */
/* .is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  max-width: 408px;

  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--changed-wite-color);
  border: 1px solid #d0d2e3;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-close {
  width: 8px;
  height: 8px;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.label-sign {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--subtittle-color);
}

.label-sign-checkbox {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}

.form-user-name,
.form-user-phone,
.form-user-email {
  height: 40px;
  width: 100%;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.form-user-text {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-text::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-user-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--dark-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-catch {
  position: relative;
  display: block;
}

.form-user-name:focus,
.form-user-phone:focus,
.form-user-email:focus,
.form-user-text:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-user-name:focus + .form-user-svg,
.form-user-email:focus + .form-user-svg,
.form-user-phone:focus + .form-user-svg {
  fill: var(--accent-color);
}

.form-label-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #757575;

  margin-bottom: 16px;
}

.modal-form label:nth-child(-n + 3) {
  margin-bottom: 8px;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.form-user-text {
  width: 100%;
  height: 120px;
  resize: none;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.form-user-checkbox {
  margin-bottom: 16px;
  width: 16px;
}

.fake-checkbox {
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transition: border-style 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fake-checkbox-svg {
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-sign-checkbox-link {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
}

.form-user-checkbox:checked + .form-label-checkbox .fake-checkbox-svg {
  opacity: 1;
}

.form-user-checkbox:checked + .form-label-checkbox .fake-checkbox {
  border: none;
} */

/* ===modal_form=== */

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  max-width: 408px;

  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-window-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--changed-wite-color);
  border: 1px solid #d0d2e3;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-close {
  width: 8px;
  height: 8px;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.label-sign {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--subtittle-color);
}

.label-sign-checkbox {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}

.form-user-name,
.form-user-phone,
.form-user-email {
  height: 40px;
  width: 100%;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.form-user-text {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-text::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-user-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--dark-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-catch {
  position: relative;
  display: block;
}

.form-user-name:focus,
.form-user-phone:focus,
.form-user-email:focus,
.form-user-text:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-user-name:focus + .form-user-svg,
.form-user-email:focus + .form-user-svg,
.form-user-phone:focus + .form-user-svg {
  fill: var(--accent-color);
}

.form-label-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #757575;

  margin-bottom: 16px;
}

.modal-form label:nth-child(-n + 3) {
  margin-bottom: 8px;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.form-user-text {
  width: 100%;
  height: 120px;
  resize: none;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.form-user-checkbox {
  margin-bottom: 16px;
  width: 16px;
}

.fake-checkbox {
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transition: border-style 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fake-checkbox-svg {
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-sign-checkbox-link {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--btn-text-color);
}

.form-user-checkbox:checked + .form-label-checkbox .fake-checkbox-svg {
  opacity: 1;
}

.form-user-checkbox:checked + .form-label-checkbox .fake-checkbox {
  border: none;
}
