body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
